#aside {
    height: 100%;
    width: 100%;
    max-width: 220px;
    padding-right: 10px;
}

#logo {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}

#logo img {
    width: 100%;
    height: auto;
    /* Garante que a proporção da imagem seja mantida */
}


#nav {
    height: 100%;
}

#nav ul {}

#nav ul a {
    width: 100%;
    font-size: 1.2rem;
    color: gray;
}

#nav ul a li {
    padding: 10px;
    border-radius: 16px;
}

#nav ul a li:hover {
    background-color: rgb(66, 66, 66);
    color: white;
}

#nav ul a.active {
    color: white;
}